html{
    scroll-behavior: smooth;
}
#page_wrapper{
    width: 60%;
    margin: 10% auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#login_form_wrapper{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}
#login_form{
    padding-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.login_input{
    background-color: lightgray;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px 35px 20px 35px;
}
#forgot_password{
    text-align: right;
}
.login_img{
    width : 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
}
#login_button{
    color: white;
    border: 2px solid #312E92;
    background-color: #312E92;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
}
#wrapper{
    margin: 0 auto;
    max-width: 95%;
}
#menu
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #312E92;
    border-radius: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#nav_wrapper{
    min-width: 90%;
    margin:0 auto;
    
}
#menu a{
    text-decoration: none;
    text-align: center;
    color: white;

}
#menu_wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
#uab_small{
    max-height: 180px;
    padding-right: 50px;
}
#singup_wrapper{
    margin:0 auto;
}
